doctype html 
html
    head
      title= title 
    body 
      h1= message 
      a(href="/students") View Students 
      br
      a(href="/students/filter") Filter Students
      br
      a(href="/courses") View Courses
      br
      a(href="/courses/filter") Filter Courses
