<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <style>
      body {
        background-color: red;
      }
      .navbar {
        display: flex;
        gap: 20px;
        padding: 10px;
        background-color: white;
      }
      .navbar a {
        text-decoration: none;
        color: black;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Homepage</a>
      <a href="/greetings/">Greetings</a>
      <a href="/time/">Time</a>
      <a href="/admin/">Admin</a>
    </div>
    <h1>Home page</h1>
  </body>
</html>
